@import '../../sharedStyles/_variables';

.custom-footer{
	background: crimson;
	position: absolute;
	left: 0;
	bottom: 0;
	height: $footer-height;
	width: 100%;
	padding: 0;
	.content-container{
		float: right;
		p{
			color: chocolate;
		}
	}
}