@import '../../sharedStyles/_variables.scss';

.custom-header {
	display         : flex;
	justify-content : center;
	overflow        : auto;
	height          : $header-height;
	background      : crimson;
	padding         : 0;
	width           : 100%;
	.content-container {
		align-items : center;
		h1 {
			margin : 0;
			color  : chocolate;
		}
	}
}