.page-container {
	display         : flex;
	flex-direction  : column;
	justify-content : center;
	align-items     : center;
}

.posts-container {
	display         : flex;
	flex-direction  : row;
	flex-flow       : wrap;
	justify-content : center;
	align-items     : center;
	@media(min-width : 1024px) {
		width : 70%;
	}
	@media(min-width : 700px) and (max-width : 1024px) {
		width : 90%;
	}
	background      : red;
}